[submodule "lib/yalantinglibs"]
	path = lib/yalantinglibs
	url = https://github.com/alibaba/yalantinglibs.git
[submodule "bench/gapbs"]
	path = bench/gapbs
	url = https://github.com/Multi-V-VM/gapbs.git
[submodule "bench/llama"]
	path = bench/llama
	url = https://github.com/Multi-V-VM/llama2.c.git
[submodule "bench/redis"]
	path = bench/redis
	url = https://github.com/Multi-V-VM/redis.git
	branch = wasm
[submodule "lib/wasm-micro-runtime"]
	path = lib/wasm-micro-runtime
	url = https://github.com/Multi-V-VM/wasm-micro-runtime.git
[submodule "bench/linpack"]
	path = bench/linpack
	url = https://github.com/Multi-V-VM/linpack
[submodule "bench/hdastar"]
	path = bench/hdastar
	url = https://github.com/Multi-V-VM/HDAStar
[submodule "lib/libcrafter"]
	path = lib/libcrafter
	url = https://github.com/Multi-V-VM/libcrafter
[submodule "bench/nas"]
	path = bench/nas
	url = https://github.com/Multi-V-VM/NPB3.0-omp-C
[submodule "bench/nginx-module"]
	path = bench/nginx-module
	url = https://github.com/nginx/unit-wasm
[submodule "bench/ftp"]
	path = bench/ftp
	url = https://github.com/Multi-V-VM/FTP-implementation-over-TCP
[submodule "bench/orb_slam3"]
	path = bench/orb_slam3
	url = https://github.com/Multi-V-VM/orb-slam-expts/
[submodule "bench/lammps"]
	path = bench/lammps
	url = https://github.com/Multi-V-VM/lammps
