[submodule "lib/yalantinglibs"]
	path = lib/yalantinglibs
	url = https://github.com/alibaba/yalantinglibs.git
[submodule "bench/gapbs"]
	path = bench/gapbs
	url = https://github.com/victoryang00/gapbs.git
[submodule "bench/llama"]
	path = bench/llama
	url = https://github.com/victoryang00/llama2.c.git
[submodule "bench/redis"]
	path = bench/redis
	url = https://github.com/victoryang00/redis.git
	branch = wasm
[submodule "lib/wasm-micro-runtime"]
	path = lib/wasm-micro-runtime
	url = https://github.com/Multi-V-VM/wasm-micro-runtime.git
	branch = pthread
